body {
  background-color: #f8f9fa;
}
#navbar {
  background-color: #fff;
  border-bottom: 1px solid #dee2e6;
}
.btn-group {
  direction: rtl !important;
}

.btn-group .btn:first-child {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-left: 0 !important;
}

.btn-group .btn:last-child {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  border-right-width: 0px !important;
  border-left-width: 1px !important;
}

.btn-group .static-text:first-child {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.btn-group .static-text:last-child {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  border-right-width: 0px !important;
  border-left-width: 1px !important;
}
